
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

.pic1{
  background-image: url(images/image1.png);
}

.pic2{
  background-image: url(images/image2.png);
}

.pic3{
  background-image: url(images/image3.png);
}

.pic1, .pic2, .pic3{
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.pic2, .pic3{
  height: 60vh;
}

.text1, .text2,.text3{
  width: 100%;
  text-align: center;
  padding: 40px;
  color: rgb(63, 61, 61);
  
}
div p{
  padding-bottom: 10px;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}
div h2{
  font-size:1.5rem;
  padding: 10px;
  padding-bottom: 20px;
  
}

div div h1{
  font-size: 2rem;
  text-align: center;
  height: auto;
  width: auto;
  background-color: rgb(63, 61, 61);
  color: white;
  letter-spacing: 0.8rem;
  padding: 1.4rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
}
.text2,.text3{
  background-color: rgb(63, 61, 61);
  color: whitesmoke;
}

@media (max-width: 768px) {
  div div h1 {
    font-size: 1.5rem; /* Reduce heading size */
    letter-spacing: 0.5rem;
  }
  
  .text1, .text2, .text3 {
    padding: 20px;
  }
}
